.list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.list-header > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
