.input {
  width: 100%;
  flex: 1;
  border-radius: 4px;
  padding: 8px 12px;
  background-color: #4c4c4c !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.input::placeholder {
  color: #aaa;
}
