.filters-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 32px;
  margin-bottom: 10px;
}

.table-container {
  max-height: 75vh;
  overflow: auto;
}

.table-footer {
  padding-top: 8px;
  font-size: 14px;
  display: block;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .filters-container {
    grid-template-columns: 1fr;
    gap: 16px;
    margin-bottom: 20px;
  }
}
