.filters-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 32px;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  border: 1px dotted #ddd;
}

td.center {
  text-align: center;
}

table button {
  transition: 0.2s color;
}

th button.active {
  position: relative;
}

th button.active::after {
  content: '';
  position: absolute;
  right: -16px;
  top: 50%;
  transform: translateY(-25%);
  transition: transform 0.2s;

  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
}

th button.active.reverse::after {
  transform: translateY(-75%) rotateX(180deg);
}

th button:hover {
  color: #ccc;
}

td button:hover {
  color: skyblue;
}

td button.delete:hover {
  color: #ff4f4f;
}

.table-footer {
  display: block;
  text-align: center;
  font-size: 14px;
  margin-top: 8px;
}
