table {
  width: 100%;
  border-collapse: collapse;
  background-color: #101010;
}

thead td,
th {
  padding: 8px;
  background-color: #1e1e1e;
  border-bottom: none;
  position: sticky;
  top: 0;
}

td {
  padding: 8px;
  border-bottom: 1px solid #4f3f00;
}

td.center {
  text-align: center;
}

td.no-padding {
  padding: 0;
}

table button {
  transition: 0.2s color;
}

td button {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  font-size: 0;
  padding: 8px;
}

th button.active {
  position: relative;
}

th button.active::after {
  content: '';
  position: absolute;
  right: -16px;
  top: 50%;
  transform: translateY(-25%);
  transition: transform 0.2s;

  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #ddd;
}

th button.active.reverse::after {
  transform: translateY(-75%) rotateX(180deg);
}

th button:hover {
  color: #ccc;
}

td button:hover {
  color: var(--accent-color);
}
