.container {
  width: 95%;
  max-width: 1600px;
  padding: 32px 0 64px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.lists-container {
  display: flex;
  gap: 32px;
}

.song-text-list {
  display: grid;
  grid-auto-flow: column;
  gap: 4px 32px;
}
