* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --accent-color: rgb(255, 203, 43);
  --accent-color-dark: rgba(125, 100, 20);
  accent-color: var(--accent-color);
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}

body {
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  font: 400 1rem sans-serif;
  background-color: #333;
  color: #eee;
}

input,
textarea,
button {
  color: inherit;
  font: inherit;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600;
}

button,
a {
  cursor: pointer;
  background: none;
}

button svg {
  font-size: 16px;
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.outline {
  border: 1px solid transparent;
  outline: none;
}

.outline:focus {
  border-color: var(--accent-color);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.4);
}
