.container {
  width: 95%;
  max-width: 1600px;
  padding: 32px 0 64px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.lists-container {
  display: flex;
  gap: 32px;
}

.lists-container > div {
  width: 100%;
}

.song-text-list {
  display: grid;
  grid-auto-flow: column;
  gap: 4px 32px;
}

.outline {
  border: 1px solid transparent;
  outline: none;
}

.outline:focus {
  border-color: skyblue;
}
