.button {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #555;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s, box-shadow 0.2s;
}

.button:hover {
  background-color: #505050;
}

.button:active {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
