.button {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 6px 16px;
  border-radius: 4px;
  background-color: #555;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s, box-shadow 0.2s;
}

.button:hover {
  background-color: #505050;
}

.button:active {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.button.secondary {
  background-color: transparent;
  border-color: #555;
}

.button[type='submit'] {
  font-size: 16px;
  padding: 8px 32px;
}
