.print-preview-container {
  overflow: hidden;
  width: fit-content;
  margin: 16px auto;
  color: #ddd;
  background: #222;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 10px;
  border-radius: 4px;
}

.print-preview-scroll-container {
  overflow-y: scroll;
  width: fit-content;
}

.print-preview-scroll-container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: transparent;
}

.print-preview-scroll-container::-webkit-scrollbar-corner {
  background-color: transparent;
}

.print-preview-scroll-container::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}
